{% extends 'frontend/base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<div class="container">
<div class="media">
    <div class="media-body justify-content-center" style="margin-top:80px;">
      <h2 class="mt-0 mb-1">What is Bingsoo?</h2>
        <div style="text-indent:20%; font-size:25;">Types of Bingsoo</div>
        <div style="text-indent:20%; font-size:25;">Bingsoo is available with a variety of flavors and toppings. Each  빙수  has a different name depending on the main topping and flavor.
         The most well-known 빙수  is  팥빙수 (Bingsoo with read beans). 
         Its literal translation is red bean shaved ice, and it has been a summer delight for a long time. 
         The most common ingredients of 팥빙수  are red beans, condensed milk, rice cakes, 
         fruit toppings, and nut/bean powder. As a bonus, you might get a scoop of delicious ice cream on top.</div>
    </div>
    <img src="static/image/iice1.jpg" class="ml-3 d-block w-50" alt="...">
</div>


<div class="card-deck" style="margin-top:20px;">
    <div class="card text-white bg-dark mb-3" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/image/b92.jpg" class="card-img d-block w-100" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">examples of common or popular version </h4>
            <p class="card-text" style="text-indent:13%; font-size:17;">녹차빙수 (Green tea flavored Bingsoo) is my personal favorite to enjoy. Although it does not look as fancy as other types of 빙수, I have enjoyed every spoonful of 녹차빙수  for many years. If you are a coffee lover,  커피빙수 (Coffee flavored Bingsoo) might be a good match for you. When you crave fruit, you can try 빙수 with fruit toppings. These are some examples of 빙수  with fruit toppings: 망고빙수 (Mango Bingsoo), 딸기빙수 (Strawberry Bingsoo), 수박빙수 (Watermelon Bingsoo). If you want 빙수  with a little twist, there are 티라미수빙수 (Tiramisu Bingsoo),  요거트빙수 (Yogurt Bingsoo),  쵸콜렛빙수 (Chocolate flavored Bingsoo),  떡빙수 (Bingsoo with rice cakes), and so on.</p>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-deck" style="margin-top:20px;">
   <div class="card text-dark bg-light mb-3" >
     <div class="row no-gutters">
       <div class="col-md-4">
         <img src="static/image/bii4.jpg" class="card-img d-block w-100" alt="...">
       </div>
       <div class="col-md-8">
         <div class="card-body">
           <h4 class="card-title">Easy Homemade Bingsu</h4>
           <p class="card-text" style="text-indent:13%; font-size:17; ">When the calendar says fall, but the thermometer says summer, try this simple and cheap treat made at home. So easy it can hardly be called a recipe. All you need is flavored milk and a resealable bag. (And a freezer, of course.)</p>
           <div class="card-deck" style="margin-top:50px;">
            <div class="card text-dark bg-white">
              <div class="card-body">
                <h5 class="card-title"> Ingredients </h5>
                <p class="card-text"> Flavored milk, such as strawberry, chocolate or banana milk
                  Toppings, such as fresh bananas, cereal, 팥, fruit, 떡, etc.</p>
              </div>
            </div>
            <div class="card-deck" style="margin-top:30px;">
               <div class="card text-dark bg-white">
                 <img src="static/image/bi1.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                   <h5 class="card-title"> Directions </h5>
                   <p class="card-text">1.Using a good quality resealable bag, freeze your milk for about 3 hours. Lay it flat in the freezer if possible so that it freezes evenly.</p>
                 </div>
               </div>
            </div>
            <div class="card-deck" style="margin-top:30px;">
               <div class="card text-dark bg-white">
                 <img src="static/image/bi2.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                   <h5 class="card-title"> </h5>
                   <p class="card-text">2.Take the bag out of the freezer. Use your hands, a small bowl, or something similar to crush the ice, then dump the entire contents into a bowl.</p>
                 </div>
               </div>
            </div>
            <div class="card-deck" style="margin-top:30px;">
               <div class="card text-dark bg-white">
                 <img src="static/image/bi3.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                   <h5 class="card-title"></h5>
                   <p class="card-text">3.Serve with your choice of toppings. We bought a hand of bananas the other day, and used it as topping for all flavors to see which turned out best. Actually, they were all good!</p>
                 </div>
               </div>
            </div>
         
            </div>
         </div>
       </div>
       
     </div>
   </div>
 </div>
</div>
{% comment %} <!DOCTYPE html>

<html lang="en">


<head>

  
   <meta charset="utf-8">
  
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
   <meta name="description" content="">
  
   <meta name="author" content="">

  
   <title>blogger</title>

  
   <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  
   <!-- Custom fonts for this template -->
  
   <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  
   <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  
   <link href="css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

  
   <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    
   <div class="container">
      
   <!-- <a class="navbar-brand" href="index.html">Start Bootstrap</a> -->
      
   <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
 Menu
 <i class="fas fa-bars"></i>
</button>
      
   <!-- <div class="collapse navbar-collapse" id="navbarResponsive">
        
   <ul class="navbar-nav ml-auto">

   <li class="nav-item">
<a class="nav-link" href="index.html">Home</a>
</li>
          
   <li class="nav-item">
<a class="nav-link" href="about.html">About</a>
</li>
          
   <!-- <li class="nav-item">
<a class="nav-link" href="post.html">Sample Post</a>
</li> -->
          
   <!-- <li class="nav-item">
<a class="nav-link" href="contact.html">Contact</a>
</li> --> 

   </ul>
</div>
</div>
</nav>

  
   <!-- Page Header -->
<header class="masthead" style="background-image: url('cloud2020/pancake.jpg')">
    
   <div class="overlay"></div>
    
   <div class="container">
         
   <div class="row">
        
   <div class="col-lg-8 col-md-10 mx-auto">
          
   <div class="page-heading">
            
   <h1>About Me</h1>
            
   <span class="subheading">This is what I do.</span>
          
   </div>
</div>
</div>
</div>
</header>

 
   <!-- Main Content -->
<div class="container">
    
   <div class="row">
      
   <div class="col-lg-8 col-md-10 mx-auto">
        
   <p>beauty blogger</p>
        
   <p>hello</p>
        
   <p>hihi</p>
      
   </div>
</div>
</div>

  
   <hr>

  
   <!-- Footer -->
<footer>

   <div class="container">
      
   <div class="row">
        
   <div class="col-lg-8 col-md-10 mx-auto">
          
   <ul class="list-inline text-center">
            
   <li class="list-inline-item">

   <a href="#">
                
   <span class="fa-stack fa-lg">

   <i class="fas fa-circle fa-stack-2x"></i>
                  
   <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                
   </span>
</a>
</li>
            
   <li class="list-inline-item">

   <a href="#">

   <span class="fa-stack fa-lg">
                  
   <i class="fas fa-circle fa-stack-2x"></i>
                  
   <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                
   </span>
</a>
</li>
            
   <li class="list-inline-item">
              
   <a href="#">
                
   <span class="fa-stack fa-lg">
                  
   <i class="fas fa-circle fa-stack-2x"></i>
                  
   <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                
   </span>
</a></li>
</ul>

   <p class="copyright text-muted">Copyright &copy; Your Website 2020</p></div></div>
</div>
</footer>

  
   <script src="vendor/jquery/jquery.min.js"></script>
  
   <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  
   <script src="js/clean-blog.min.js">
</script>


</body>


</html>

<!-- <div class="jumbotron">
    <h1 class="display-3">About page</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
</div> --> {% endcomment %}

{% endblock %}